.input--comp {
  width: 120px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 0;
  margin: 1em 1%;
  padding: .5em .5em;
  position: relative;
}

.input--img {
  width: 100%;
  max-height: 80px;
  margin-bottom: .5em;
}

.input--p {
  padding: .1em 0;
  margin: 0;
  text-align: center;
}


.input--input {
  width: 100%;
}

.input--insert--image {
  border: 5px solid var(--primary);
  cursor: pointer;
  
}

.input--img--inserted {
  cursor: pointer;
}


/* ---------------------------------------- */

.input--modal {
  height: 250px;
  width: 350px;
  position: absolute;
  z-index: 100;
  display: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px 0;
}

.input--modal--header {
  display: flex;
  justify-content: flex-end;
  padding: .5em;

  background-color: var(--primary);
}

.x--button {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.input--modal--imgs {
  height: 210px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid var(--primary);
  border-top: none;
  padding: .5em .5em;
}

.input--modal--img {
  width: 30%;
  height: 80px;
  margin-bottom: 1em;
  cursor: pointer;
}

.input--modal--imgs::-webkit-scrollbar {
  width: 20px;
}
.input--modal--imgs::-webkit-scrollbar-track {
  background-color: transparent;
}
.input--modal--imgs::-webkit-scrollbar-thumb{
  background-color: var(--secondary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}